body{
  font-family: sans-serif;
  text-align: center;
}
#btn{
  margin-top: 40px;
  border: 1px solid blue;
  background: #fff;
  color: blue;
  padding: 14px 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: all 0.6s;
}
#btn:hover{
  color: white;
  background: #00f;
}
#snackbar{
  min-width: 250px;
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  visibility: hidden;
}
#snackbar.show{
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s
}
@keyframes fadein {
  from{
    bottom: 0px;
    opacity: 0;
  }
  to{
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from{
    bottom: 30px;
    opacity: 1;
  }
  to{
    bottom: 0px;
    opacity: 0;
  }
}
